/* CSS variables */
:root {
  --dark-blue: #253866;
  --light-blue: #4667BB;
  --warning-red: ##E63A3A;
}

/* General styles */
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/* Font setup */
body {
  font-family: 'Inter', serif;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Custom styles */
.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.users-list li {
  margin: 1rem 0.5rem;
}

.btn {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14.52px;
  color: #fff;
  border: 0.15rem solid #fff;
  border-radius: 2.7rem;
  padding: 0.65rem 1.3rem;
  background: transparent;
  transition: all 0.3s linear;
}

.btn:hover {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
  cursor: pointer;
}

.btn:active {
  background: var(--dark-blue);
  border-color: var(--dark-blue);
  color: #fff;
  cursor: pointer;
}

.card {
  position: relative;
  max-width: 20.8rem;
  min-height: 32.1rem;
  border-radius: 2rem;
  transition: all 0.5s ease;
}

.card:hover {
  background: rgba(70, 103, 187, 0.3);
  transform: translateY(-3px);
}

.details {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #E2E2EF 43.73%, #4667BB 100%);
  border-radius: 2rem;
  position: absolute;
  bottom: 0;
  color: var(--dark-blue);
  padding: 0 1.6rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.details p {
  display: flex;
}

.icon {
  margin-right: 0.6rem
}

hr {
  border: 0.5px solid var(--dark-blue);
}

.details__title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  margin: 1.6rem 0 0.8rem 0;
}

.details__email a {
  display: flex;
  align-items: center;
}

.details__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.details__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge {
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  background: var(--light-blue);
  border-radius: 2.7rem;
  padding: 0.2rem 0.4rem;
}

.error,
.loading {
  font-size: 1.6rem;
}

.error {
  color: var(--warning-red);
}

/* Responsive */
@media (max-width: 576px) {
  .users-list li {
    margin: 3.4rem 0.5rem;
  }
}