/* CSS variables */
:root {
  --dark-blue: #253866;
  --light-blue: #4667BB;
}

* {
  box-sizing: border-box;
}

/* Font setup */
body {
  font-family: 'Inter', serif;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Custom styles */
.users-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.users-list li {
  margin: 10px 5px;
}

.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 27px;
  padding: 6.5px 13px;
  background: transparent;
  transition: all linear 0.3s;
}

.btn:hover {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
  cursor: pointer;
}

.btn:active {
  background: var(--dark-blue);
  border-color: var(--dark-blue);
  color: #fff;
  cursor: pointer;
}

.card {
  position: relative;
  max-width: 208px;
  min-height: 321px;
  border-radius: 20px;
}

.details {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #E2E2EF 43.73%, #4667BB 100%);
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  color: var(--dark-blue);
  padding: 0 16px;
  font-size: 10px;
  line-height: 12px;
}

.details p {
  display: flex;
}

.icon {
  margin-right: 6px;
}

hr {
  border: 0.5px solid var(--dark-blue);
}

.details__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin: 16px 0 8px 0;
}

.details__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}